.header{
    width: 100%;
    background: var(--first-color);
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}


//welcome message
.welcome_message{
    color: var(--mantine-color-white);
    font-size: var(--mantine-font-size-xl);
    font-weight: 600;
    font-size: 2rem;
}

.slogan {
  color: rgba(0, 0, 0, 0.767);
  font-size: var(--mantine-font-size-xl);
  margin-top: 0;
  font-weight: 600;
}